body {
  background-color: #B8B8BF;
  color: #010A26;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #2E3D59;
  font-size: 3rem;
  margin-bottom: 30px;
}

form {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  text-align: center;
}

.search-bar {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  height: 60px;
  margin: 0 auto;
  overflow: hidden;
  width: 700px;
}

.search-container {
  display: flex;
  flex: 1;
  margin-right: 10px;
}

.search-container input {
  padding-left: 20px;
  font-size: larger;
}

.search-bar input[type="text"] {
  background-color: transparent;
  border: none;
  flex: 1;
  font-size: 16px;
}

.search-bar input[type="text"]:focus {
  outline: none;
}

.select-wrapper {
  border: #e7e7e7 solid 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  position: relative;
  vertical-align: top;
}

.select-wrapper:hover {
  background-color: #0077cc;
  border: #0077cc solid 3px;
  transition: 400ms;
}

.dropdown {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 0;
  cursor: pointer;
  background: none;
  color: #333;
}

.dropdown:hover {
  color: white;
  transition: 300ms;
}

option {
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: normal;
}

option:hover,
option:focus {
  background-color: #eee;
  color: #000;
}

/* Alte stiluri */

label {
  font-weight: bold;
}

button {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F27166;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 40px;
  padding: 10px;
}

.buttons {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

button:hover {
  background-color: #f0594b;
}
