body {
  background-color: #B8B8BF;
  color: #010A26;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #2E3D59;
  font-size: 3rem;
  margin-bottom: 30px;
}

.search-bar {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  height: 60px;
  margin: 0 auto;
  overflow: hidden;
  width: 700px;
}

.search-container {
  display: flex;
  flex: 1;
  margin-right: 10px;
}

.search-container input {
  padding-left: 20px;
  font-size: larger;
}

.search-bar input[type="text"] {
  background-color: transparent;
  border: none;
  flex: 1;
  font-size: 16px;
}

.search-bar input[type="text"]:focus {
  outline: none;
}

button {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F27166;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 40px;
  padding: 10px;
}

.buttons {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

button:hover {
  background-color: #f0594b;
}

.accordion {
  z-index: 1;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 200px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion-selector {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.accordion-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
} 

.accordion:hover {
  background-color: #ccc;
}

input[type="checkbox"] {
  float: left;
  margin-right: 10px; /* add some space between the checkbox and the label */
}

.checkbox-text {
  text-align: left;
}

.panel {
  z-index: 0;
  padding: 0 18px;
  background-color: rgb(224, 224, 224);
  display: none;
  flex-direction: column;
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  animation-name: slide-down;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}